#treasure-chest {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    gap: 1rem;
    overflow-y: scroll;
    height: 90%;
}

.reward-card {
    background: white;
    color: black;
    display: flex;
    flex-flow: row;
    width: min(48%, 30rem);
    padding: .8rem;
    justify-content: space-between;
    .icon {
        // width: 3rem;
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: center;
        padding: 0 1rem;
    }
    .info-container {
        width: 100%;
        margin: .2rem .5rem;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        & > .title {
            text-overflow: ellipsis;
        }
        & > .location {
            text-overflow: ellipsis;
            font-size: .7rem;
        }
    }
    & > .price {
        background: black;
        color: white;
        margin: auto .5rem;
        padding: .2rem .8rem;
        display: flex;
        flex-flow: row;
        min-width: fit-content;
        & > img {
            height: 1rem;
            transform: translateY(.25rem);
            margin-right: .4rem;
        }
    }
}
