.reward-card {
    background: white;
    color: black;
    display: flex;
    flex-flow: row;
    width: 50%;
    padding: .8rem;
    justify-content: space-between;
    .icon {
        background: red;
        width: 2rem;
    }
    .info-container {
        width: 50%;
        margin: 0 1rem;
        & > .title {
            text-overflow: ellipsis;
        }
        & > .location {
            text-overflow: ellipsis;
            font-size: .8rem;
        }
    }
    & > .price {
        background: black;
        color: white;
        margin: auto 0;
        padding: .2rem .5rem;
        display: flex;
        flex-flow: row;
        & > img {
            height: 1rem;
            transform: translateY(.25rem);
            margin-right: .4rem;
        }
    }
}
