.card {
    border-radius: 2rem;
    padding: .5rem;
    border: .1rem solid white;
    box-shadow: 0 0 .5rem white;
    margin: 0 auto;
    height: 20vh;
    width: 40vh;
    background: linear-gradient(331deg, rgba(0,25,119,1) 0%, rgba(8,167,28,1) 35%, rgba(0,213,255,1) 100%);
    & > .card-name {
        font-weight: 800;
        padding-left: 2rem;
        padding-top: 1rem;
        font-size: 2rem;
    }
}
