#login-screen {
    background: green;
    width: 100vw;
    height: 100vh;
    #left-portion {
        background: white;
    }
}

#google-login, #logout {
    color: black;
    border-radius: 2rem;
    border: .2rem solid black;
    padding: .5rem .8rem;
    background: #CCC;
    box-shadow: 0 0 .2rem black;
    transition: all .2s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}

#google-login {
    //
    background: red;
    border: none;
}

#logout {
    //
}
